{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<style>

    .header {
        font-family: Times New Roman;
        background-color:#800000;
        color: white;
        content: center;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        text-align: center;
        padding-top: 0px;
    }
    .login-button {
        font-family: Times New Roman;
        background-color: #BC9B6A;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 5px;
        border: 2px solid #fff;
        text-align: center;
    }
    .main-container{
        font-family: Times New Roman;
        background-color:white;
        color: black;
        content: center;
        position: absolute;
        text-align: center;
        padding-top: 0px;
    }
    table, th, td {
        border: 0.8px solid black;
        border-collapse: collapse;
        color: black;
        text-align: center;
        width: 75%;
        padding: 2px;
    }

th:nth-child(4), td:nth-child(4) {
    width: 10%; /* adjust this value to your preference */
  }

  th:nth-child(5), td:nth-child(5) {
    width: 10%; /* adjust this value to your preference */
  }
  th:nth-child(6), td:nth-child(6) {
    width: 10%; /* adjust this value to your preference */
  }
  .container {
    background-color:white;
  }
  .banner {
    height: 15vh;
    width: 100%;
    font-family: Times New Roman;
    background-color: #800000;
    margin: 0 auto;
    color: white;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 2vh;
  }
  .sub-banner {
    font-size: 10px;
  }
  </style >
  <script>
    $(document).ready(function() {
        // Get the current URL using JavaScript
        var currentUrl = window.location.href;

        // Send the current URL to the server using Ajax
        $.ajax({
            type: 'POST',
            url: '/current_url',
            data: { url: currentUrl },
            success: function(response) {
                console.log('Server response:', response);
            }
        });
    });
</script>
  <body>
        <div class="banner">
            <h1>BOSTON COLLEGE</h1>
        <div lass="sub-banner">
            <h2>TA System</h2>
        </div>
      </div>

    <div class="main-container">
        <br><br><br>
        <form method="POST" class="form-group">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit"><a href="{{ currentUrl}}/course_creation">Add Course</button></a>
        <form method="POST" class="form-group">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit"><a href="{{ currentUrl}}/instructor_landing_page">Home</button></a>
        <br><br><br>
        <h4>Course List (instructor view) </h4>
        <table style="border:1px solid black;margin-left:auto;margin-right:auto;">
            <thead>
                <tr>

                    <th>Course Name </th>
                    <th>Course ID</th>
                    <!--
                        <th>Instructor ID</th>
                        <th>Section</th>
                    <th>Marking Meetings</th>
                    <th>Lecture Days</th>
                    <th>Lecture Times</th>
                    <th>Discussion Days</th>
                    <th>Discussion Times</th>
                    <th>Description</th>
                    <th>Instructor</th>
                    <th>Office Hours Per Week</th>-->
                    <th>TA positions</th>
                    <th>View</th>
                    <th>Edit</th>
                    <th>Status</th>
                    <th>Open Course</th>
                    <th>Close Course</th>
                </tr>
            </thead>
            <tbody>
                {% for course in course_list %}
                    <tr>

                        <td>{{ course.Course_Name }}</td>
                        <td>{{ course.Course_ID }}</td>
                        <!--<td>{{ course.Instructor_ID }}<td>
                        </td>{{ course.Section }}</td>
                        <td>{{ course.Marking_Meetings }}</td>
                        <td>{{ course.Lecture_Days }}</td>
                        <td>{{ course.Lecture_Times}}</td>
                        <td>{{ course.Discussion_Days }}</td>
                        <td>{{ course.Discussion_Times }}</td>
                        <td>{{ course.Course_Description }}</td>
                        <td>{{ course.Instructor }}</td>
                        <td>{{ course.Office_Hours_per_week }}</td>-->
                        <td>{{ course.TA_Positions}}</td>

                        <td><form method="POST" class="form-group">
                            {% csrf_token %}
                            {{ form|crispy }}

                                <a href="/view_applications/{{ course.Course_Name }} "class="button">
                                    View Applications
                                </a>

                        </form></td>
                        <td><form method="POST" class="form-group">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button type="submit">Edit</button>
                        </form></td>

                        <td>{{ course.Status }}</td>


                        <th><a href="{% url 'update_status_field' course.id %}"> Open </a></th>
                        <th><a href="{% url 'update_status_field' course.id %}"> Close </a></th>


                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
{% endblock %}
