{% extends "main/base.html" %}
{% block title %}Boston College{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<html>
<style>
  p { font-size: 15px; }
  body {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  .main-container{
      font-family: Times New Roman;
      background-color:#800000;
      color: white;

      content: center;
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
      text-align: left;
      padding-top: 40px;
      padding-left: 75px;
      padding-right: 500px;
      padding-bottom: 50px;
  }

</style>


<body>
<div class="main-container">
      <h1>BOSTON COLLEGE</h1>
      <h2>Applying for a Course</h2>
      <div style="padding: 10px;">
      </div>
      <div>
          <h2>{{course.Course_Name}}</h2>
          <h2>{{course.Course_ID}}.{{course.Section}}</h2>
          <p>{{ course.Course_Description }}</p>
          {% if course.Marking_Meetings != '0' %}
            <p>Amount of Marking Meetings: {{course.Marking_Meetings}}</p>
          {% endif %}
          <form method="POST" enctype="multipart/form-data" class="form-group" >
            {% csrf_token %}
        	  {{ form.as_p }}
            <input type="hidden" name="Course_Name" value="{{ course.Course_Name }}">
            <input type="hidden" name="Course_Section" value="{{ course.Section }}">
            <button type="submit">Apply</button>
          </form>

      </div>

</div>

</body>
</html>
{% endblock %}
