
{% extends 'main/base.html' %}
<!DOCTYPE html>
{% block content %}

<html>

<style>


  .main-container{
      font-family: Times New Roman; 
      background-color:#800000;
      color: rgb(0, 0, 0);
      content: center;
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
      text-align: center;
      padding-top: 50px;
  }

  .login-button {
      font-family: Times New Roman; 
      background-color: #BC9B6A; 
      border: none;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 5px;
      border: 2px solid #fff;
      text-align: center;
	  

  }
</style >
  <head>
    <title>Create a Course</title>
  </head>
  <body>
    
    <div class="main-container">
      <h1 >BOSTON COLLEGE </h1>
      <h1 >TA System</h1>
    <h2>Create a Course</h2>
    <form method="POST">
      {% csrf_token %}
	  {{ form.as_p }}
      <input class="login-button" type='submit', value='Save'/>
    </form>
  </div>
  </body>
</html>
{% endblock %}
