
<!DOCTYPE html>
<html>
    {% extends 'main/base.html' %} 
    {% block content %}

        <style>
            .main-container{
                font-family: Times New Roman; 
                background-color:#800000;
                color: white;
                content: center;
                position: absolute;
                top: 0; left: 0; bottom: 0; right: 0;
                text-align: center;
                padding-top: 50px;
            }


        </style>
            <body class="main-container"> 
            <h1 >Student Landing Page</h1>
                <h2>Welcome </h2>
                
            </body>
    {% endblock %}

</html>